@import "tailwindcss";

@theme {
  /* Konfigurasi Palet Warna */
  --color-olive: #6b705c;
  --color-olive-dark: #585c4c;
  --color-olive-light: #8d927d;

  --color-crema: #fefae0;
  --color-crema-dark: #f1e6b3;

  /* Konfigurasi Tipografi */
  --font-script: var(--font-pinyon), cursive;
  --font-serif: var(--font-lora), serif;

  /* Konfigurasi Animasi Custom */
  --animate-spin-slow: spin 10s linear infinite;
}

/* Base styling dan reset */
@layer base {
  body {
    @apply bg-crema text-olive font-serif antialiased;
  }
}